* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 1170px;
	position: relative;
}

.clearfix::before {
	content: "";
	display: table;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.vertically-centered {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.site-header {
	background-color: #0099ee;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.site-header nav {
	float: right;
}

.site-header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-header nav li {
	float: left;
}

.site-header nav a {
	padding: 1em;
	display: inline-block;
}

.site-logo {
	float: left;
	line-height: 0;
}

.site-logo img {
	width: 140px;
}

/* SECTION 1 */

.section1 {
	height: 640px;
	background-color: #0078bb;
	padding-bottom: 20px;
}

.section1 .container {
	height: 100%;
}

.section1 footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

/* SECTION 2 */

.section2 {
	background-color: #008cda;
}

.section2 h1 {
	text-align: center;
}

.benefit-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.benefit-list li {
	float: left;
	width: 25%;
}

.benefit {
	text-align: center;
	padding: 2em;
}

/* SECTION 3 */

.section3 {
	background-color: #006ba6;
	padding-bottom: 20px;
}

.section3 h1 {
	text-align: center;
}

.offer-list {
	padding: 0;
	list-style: none;
	width: 70%;
	margin: 0 auto;
}

.offer-list > li {
	float: left;
	width: 48%;
}

.offer-list > li:first-child {
	margin-right: 4%;
}

.section3 footer {
	margin-top: 60px;
	text-align: center;
}

/* FOOTER */

.site-footer {
	padding: 20px 0;
}

.site-footer nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.site-footer nav li {
	float: left;
}

.site-footer small {
	right: 0;
}
